/*
This file is part of Snappy Driver Installer.

Snappy Driver Installer is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Snappy Driver Installer is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Snappy Driver Installer.  If not, see <http://www.gnu.org/licenses/>.
*/

#define _WIN32_IE 0x0501

#include <windows.h>
#include <commctrl.h>
#include <winuser.h>
#include "resources.h"
#include "..\source\svnrev.h"

IDI_ICON1       ICON        "icon.ico"
IDR_UP          RESFILE     "up.webp"
IDR_DOWN        RESFILE     "down.webp"
IDR_UP_H        RESFILE     "up.webp"
IDR_DOWN_H      RESFILE     "down.webp"
IDR_LOGO        RESFILE     "logo.webp"
IDR_PATREON     RESFILE     "patreon.webp"
IDR_TRANS       RESFILE     "trans.webp"
IDR_LICENSE     RESFILE     "gpl-3.0.txt"
IDR_THEME       RESFILE     "..\\tools\\SDI\\themes\\metallic.txt"
IDR_LANG        RESFILE     "..\\tools\\SDI\\langs\\english.txt"
IDR_INSTALL64   RESFILE     "install64.exe"
IDR_CLI_HELP    RESFILE     "CLI.txt"

#define SIZEY 270
#define LISTY SIZEY-53
#define POSY1 SIZEY-42
#define POSY2 SIZEY-22
#define BTW 18

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "drv.exe.manifest"

IDD_DIALOG1 DIALOGEX DISCARDABLE 0, 0, 340, 349
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU|DS_CENTER
CAPTION "Snappy Driver Installer License"
{
    LTEXT           "Please read the following License Agreement carefully before using this program.",0,10,10,300,20
    DEFPUSHBUTTON   "&Decline", IDCANCEL, 10, 318, 70, 20
    PUSHBUTTON      "&Accept",  IDOK,     87, 318, 70, 20
    EDITTEXT        IDC_EDIT1, 10, 30, 320, 300-30, WS_HSCROLL|WS_VSCROLL|ES_MULTILINE|ES_READONLY
}

IDD_DIALOG2 DIALOGEX 0, 0, 400, SIZEY
FONT 8, "MS Shell Dlg"
STYLE DS_CENTER | DS_MODALFRAME |WS_CAPTION |WS_VISIBLE|WS_POPUP|WS_SYSMENU
CAPTION "Update"
{
    CONTROL         "", IDLIST, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS,
        5, 5, 389, LISTY-20, WS_EX_LEFT|LVS_EX_CHECKBOXES

    CHECKBOX        "Only update", IDONLYUPDATE,5, POSY1-20,300,14,BS_AUTOCHECKBOX

    PUSHBUTTON      "Check All",   IDCHECKALL,                        5, POSY1,  90, 14
    PUSHBUTTON      "Uncheck All", IDUNCHECKALL,                    107, POSY1,  90, 14
    PUSHBUTTON      "Check only needed for this PC", IDCHECKTHISPC,   5, POSY2, 192, 14

    DEFPUSHBUTTON   "OK",     IDOK,     110+120, POSY2, 50, 14,BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 163+120, POSY2, 50, 14
    PUSHBUTTON      "Accept", IDACCEPT, 216+120, POSY2, 50, 14

    LTEXT           "Total download size: xx MB", IDTOTALSIZE, 230, POSY1, 150, 14
}

#define VER_FILEVERSION             0,3,0,SVN_REV
#define VER_FILEVERSION_STR         "0.3 " SVN_REV2 "\0"

#define VER_PRODUCTVERSION          VER_FILEVERSION
#define VER_PRODUCTVERSION_STR      VER_FILEVERSION_STR

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription",  "Snappy Driver Installer"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "LegalCopyright",   "GNU GPL v3"
            VALUE "OriginalFilename", "SDI_" SVN_REV2 ".exe"
            VALUE "ProductName",      "Snappy Driver Installer"
            VALUE "ProductVersion",   SVN_REV2
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",
            0x401, 1200, // Arabic
            0x402, 1200, // Bulgarian
            0x405, 1200, // Czech
            0x407, 1200, // German
            0x408, 1200, // Greek
            0x409, 1252, // English
            0x40A, 1200, // Spanish
            0x40C, 1200, // French
            0x40D, 1200, // Hebrew
            0x40E, 1200, // Hungarian
            0x410, 1200, // Italian
            0x411, 1200, // Japanese
            0x413, 1200, // Dutch
            0x415, 1200, // Polish
            0x416, 1200, // Portuguese (Brazil)
            0x418, 1200, // Romanian
            0x419, 1200, // Russian
            0x41D, 1200, // Swedish
            0x41F, 1200, // Turkish
            0x422, 1200, // Ukrainian
            0x423, 1200, // Belarusian
            0x426, 1200, // Latvian
            0x429, 1200, // Persian
            0x42A, 1200, // Vietnamese
            0x42B, 1200, // Armenian
            0x816, 1200, // Portuguese (Portugal)
            0x82C, 1200  // Azerbaijani
    END
END

#define OFSX 10
#define OFSY 20
#define EDITX 180
#define EDITX2 120
#define EDITW 50
#define EDITW2 110
#define EDITW3 210
#define LABELW 222
#define LABELW2 242
#define GROUPW 236
#define OFSYL 16

IDD_DIALOG3 DIALOGEX 0, 0, 263, 261
STYLE DS_CENTER|DS_MODALFRAME|WS_CAPTION|WS_VISIBLE|WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
FONT 8,"MS Shell Dlg"
CAPTION "Options"
BEGIN
    DEFPUSHBUTTON   "OK",     IDOK,     110+42, POSY2-10, 50, 14,BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 163+42, POSY2-10, 50, 14
    CONTROL         "", IDC_TAB1, WC_TABCONTROL, WS_TABSTOP, 5, 5, 250, 220
END

IDD_Page1 DIALOGEX 0,0,0,0
STYLE DS_SETFONT|WS_CHILD|DS_CONTROL
FONT 8,"MS Shell Dlg"
BEGIN
    GROUPBOX        "Driverpack names", IDD_P1_DRV, 5, 5, GROUPW, 5+BTW*3+14, 0
    AUTORADIOBUTTON "Do not show driverpack names", IDD_P1_DRV1, 5+OFSX, OFSY+BTW*0, LABELW, 14, WS_GROUP
    AUTORADIOBUTTON "Show driverpack names on the right", IDD_P1_DRV2, 5+OFSX, OFSY+BTW*1, LABELW, 14, 0
    AUTORADIOBUTTON "Show driverpack names above", IDD_P1_DRV3, 5+OFSX, OFSY+BTW*2, LABELW, 14, 0

    GROUPBOX        "Interface scaling", IDD_P1_ZOOMG, 5, 80+5, GROUPW, 63, 0
    LTEXT           "You can also zoom via Ctrl+mouse wheel", IDD_P1_ZOOML, 5+OFSX, 95+5, LABELW, 14, SS_LEFT
    CONTROL         "", IDD_P1_ZOOMI, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 10, 95+12+5+3, 225, 15
    LTEXT           "Small", IDD_P1_ZOOMS, 5+OFSX, 114+15+3, LABELW, 14, SS_LEFT
    RTEXT           "Big", IDD_P1_ZOOMB, 130, 114+15+3, 100, 14, SS_RIGHT
    PUSHBUTTON      "Reset", IDD_P1_ZOOMR, 130+50, 114+15-30-3, 100-50, 14

    GROUPBOX        "Hint", IDD_P1_HINTG, 5, 137+18, GROUPW, 35, 0
    LTEXT           "Popup window delay (in ms)", IDD_P1_HINTL, 5+OFSX, 154+18-2, LABELW, 14, SS_LEFT
    EDITTEXT        IDD_P1_HINTE, EDITX, 154+18-5, EDITW, 14, ES_AUTOHSCROLL
END

IDD_Page2 DIALOGEX 0,0,0,0
STYLE DS_SETFONT|WS_CHILD|DS_CONTROL
FONT 8,"MS Shell Dlg"
BEGIN
    GROUPBOX        "Torrent", IDD_P2_TOR, 5, 5, GROUPW, 91+70-4, 0
    LTEXT           "Port", IDD_P2_PORT, 5+OFSX, OFSY+BTW*0, LABELW, 14, SS_LEFT
    LTEXT           "Max connections (0 - unlimited)", IDD_P2_CON, 5+OFSX, OFSY+BTW*2, LABELW, 14, SS_LEFT
    LTEXT           "Max download speed in KB/s (0 - unlimited)", IDD_P2_DOWN, 5+OFSX, OFSY+BTW*4, LABELW, 14, SS_LEFT
    LTEXT           "Max upload speed in KB/s (0 - unlimited)", IDD_P2_UP, 5+OFSX, OFSY+BTW*6, LABELW, 14, SS_LEFT
    EDITTEXT        IDD_P2_PORTE, 5+OFSX, OFSYL+BTW*1-4, EDITW, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P2_CONE, 5+OFSX, OFSYL+BTW*3-4, EDITW, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P2_DOWNE, 5+OFSX, OFSYL+BTW*5-4, EDITW, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P2_UPE, 5+OFSX, OFSYL+BTW*7-4, EDITW, 14, ES_AUTOHSCROLL

    CHECKBOX        "Do not check for updates", IDD_P2_UPD,5, 103+70-8,LABELW2,14,BS_AUTOCHECKBOX
    CHECKBOX        "Do not notify about missing driverpacks", IDONLYUPDATE,5, 103+14+70-8,LABELW2,14,BS_AUTOCHECKBOX
END

IDD_Page3 DIALOGEX 0,0,0,0
STYLE DS_SETFONT|WS_CHILD|DS_CONTROL
FONT 8,"MS Shell Dlg"
BEGIN
    GROUPBOX        "", 0, 5, 5, GROUPW, 190, 0
    LTEXT           "Drivers", IDD_P3_DIR1, 5+OFSX, OFSY+BTW*0, LABELW, 14, SS_LEFT
    LTEXT           "Indexes", IDD_P3_DIR2, 5+OFSX, OFSY+BTW*2, LABELW, 14, SS_LEFT
    LTEXT           "Indexes (human-readble)", IDD_P3_DIR3, 5+OFSX, OFSY+BTW*4, LABELW, 14, SS_LEFT
    LTEXT           "Data", IDD_P3_DIR4, 5+OFSX, OFSY+BTW*6, LABELW, 14, SS_LEFT
    LTEXT           "Logs", IDD_P3_DIR5, 5+OFSX, OFSY+BTW*8, LABELW, 14, SS_LEFT
    EDITTEXT        IDD_P3_DIR1E, 5+OFSX, OFSYL+BTW*1-4, EDITW3, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P3_DIR2E, 5+OFSX, OFSYL+BTW*3-4, EDITW3, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P3_DIR3E, 5+OFSX, OFSYL+BTW*5-4, EDITW3, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P3_DIR4E, 5+OFSX, OFSYL+BTW*7-4, EDITW3, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P3_DIR5E, 5+OFSX, OFSYL+BTW*9-4, EDITW3, 14, ES_AUTOHSCROLL
END

IDD_Page4 DIALOGEX 0,0,0,0
STYLE DS_SETFONT|WS_CHILD|DS_CONTROL
FONT 8,"MS Shell Dlg"
BEGIN
    GROUPBOX        "Commands", IDD_P4_CMDG, 5, 5, GROUPW, 110+47, 0
    LTEXT           "You can define commands that will be excecuted after specifed action is complited", IDD_P4_CMDL, 5+OFSX, 19+5, 200, 14*3, SS_LEFT
    LTEXT           "After installation", IDD_P4_CMD1, 5+OFSX, OFSY+BTW*2, LABELW, 14, SS_LEFT
    EDITTEXT        IDD_P4_CMD1E, 5+OFSX, OFSYL+BTW*3-4, EDITW3, 14, ES_AUTOHSCROLL
    LTEXT           "After installation(reboot)", IDD_P4_CMD2, 5+OFSX, OFSY+BTW*4, LABELW, 14, SS_LEFT
    EDITTEXT        IDD_P4_CMD2E, 5+OFSX, OFSYL+BTW*5-4, EDITW3, 14, ES_AUTOHSCROLL
    LTEXT           "After downloading", IDD_P4_CMD3, 5+OFSX, OFSY+BTW*6, LABELW, 14, SS_LEFT
    EDITTEXT        IDD_P4_CMD3E, 5+OFSX, OFSYL+BTW*7-4, EDITW3, 14, ES_AUTOHSCROLL

    CHECKBOX        "Show console window", IDD_P4_CONSL,5, 103+64,LABELW,14,BS_AUTOCHECKBOX
END
